<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:registry address="localhost:2181" protocol="zookeeper" />
    <dubbo:protocol name="dubbo" port="20880" />

    <!---->
    <!--provider service-->
    <!---->
    <dubbo:service interface="jemter.dubbo.test.service.DemoService" ref="demoService"/>

    <!---->
    <!--service inject-->
    <!---->
    <bean id="demoService" class="jemter.dubbo.test.service.impl.DemoServiceImpl"/>

</beans>